<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Guitar Chord Thing</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis neque facilis veritatis incidunt, deserunt sapiente, dignissimos facere aliquid eveniet voluptatibus atque sit expedita sed modi, quisquam tempora quia temporibus iste!</p>
            <form action="</action/>" method="post">
                <input type=text name=chord>
                <input type=submit value=Submit>
            </form>
        </p>
</body>
</html>